@import '../../base/colors.scss';
@import '../../base/typography.scss';
@import '../../partials/mixins';

.sidebar{
    width:283px;
    
    height:100vh;
    top:0px;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color:$white;
    z-index:999;
    transition: all 0.5s;
    position:absolute;
    left:-280px;

    
    @include breakpointLargeScreen{
        z-index:0;
        left:0px;
        position:fixed;
       }    
    
}

.sidebar__nav-header{
    height:100px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0px 33px;

    .sidebar__logo{
        width:116px;
        height:30px;    
        cursor:pointer;
    }

    .sidebar__close-icon-container{
        display:none;
        margin-top:-10px;

        @include breakpointMediumScreen{
            display:flex;
            align-items:center;
            justify-content:center;
        }

        @include breakpointLargeScreen{
            display:none;
        }
    }
    .sidebar__close-icon{
        width:28px;
        height:28px;
        cursor:pointer;
        object-fit:contain;
    }
}

.sidebar--toggle{
    position:absolute;
    left:0px;
}

.border--top{
    border-top: 1px solid #21407d5a;
}

