@import '../base/colors';


@mixin input-mixin($type) {
    margin:20px 0px;
    


    input[type="#{$type}"] {
        width: 100%;
        border:2px;
        border-radius: 5px;
        padding: 13px 10px;
        border: 2px solid $input-boder;
        border-radius: 5px;
        font-style: normal; 
        font-family: $avenirNext;
        margin-bottom:5px;
       

        &::placeholder {
            font-family: $avenirNext;
            font-weight: 400;
            font-size: 14px;
            line-height: 19.12px;
            color: $slateblue;
            opacity: 60%;
        }

        &:focus{
            border-color: $turquoise; // This changes the border color on focus
            outline: none;
            // border-color: $turquoise
        }
    }
}

@mixin form-button{
    width: 100%;
    height:48px;
    background-color:$turquoise;
    border-radius: 8px;
    font-family:$avenirNext;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    letter-spacing: 0.1em;
    text-align: center;
    color:$white;
    outline: none;
    border: none;
    margin:15px 0px;

    &:hover{
        background-color: darken($turquoise, 10%);
        cursor: pointer;
    }
}


// Screen Breakpoints
@mixin breakpointSmallScreen {
	@media (min-width: 640px) {
		@content;
	}
}

@mixin breakpointMediumScreen {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin breakpointLargeScreen {
    @media (min-width: 1024px) {
        @content;
	}
}

@mixin breakpointExtraLargeScreen {
    @media (min-width: 1280px) {
        @content;
    }
}
