@import '../base/colors.scss';
@import '../base/typography.scss';

.not-found {
    font-family:$workSans;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $backgroundCardColor;
  text-align: center;

  .not-found__content {
    max-width: 600px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      font-size: 6rem;
      color: $turquoise;
      margin: 0;
    }

    h2 {
      font-size: 2rem;
      color: $slateblue;
      margin: 10px 0;
    }

    p {
      font-size: 1rem;
      color: $slateblue;
    }

    .home-link {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      color: white;
      background-color: $turquoise;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($turquoise, 10%);
      }
    }
  }
}
