.dashboard{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header"
    "main-view";
    height: 100vh;

    
}
.main-view{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: px solid yellow;
    grid-area:main-view;
    background-color: pink;
}




@media only screen and (min-width: 992px) {
    .dashboard{
        display: grid;
        grid-template-columns:283px 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas:
        "header header"
        "sidebar main-view";
        height: 100vh;
    }
}