//  This are the colors used in the figma design file

$blue: #213f7d;
$slateblue: #545f7d;
$turquoise: #39cdcc;
$white: #fff;
$black: #000;
$input-border: #545F7D26; 
$gray-white:#fefefe;
$form-error: #ff0000;
$navbar-box-shadow: 3px 0px 20px 0px #0000000A;
$sidebarLinkActive:#f3fcfc;
$dashboardBackground:#fbfbfb;
$btn-danger:#E4033B;
$userInfoBorderColor:#213F7D0F;
$userInfoBorderShadowColor:rgba(0, 0, 0, 0.04) 3px 5px 20px;
$profileContainerBg:#dbe0ea;
$userDetailHeaderBorder:rgba(84, 95, 125, 0.427);
$statusActiveText:#50d374;
$statusActiveBg:#f3fcf6;
$statusPendingText:#edbf2b;
$statusPendingBg:#fdf7e5;
$statusInActiveText:#545f7d;
$statusInActiveBg:#f5f5f7;
$statusBlacklistText:#e71f51;
$statusBlacklistBg:#fce6eb;
$backgroundCardColor: #ecf0f1;

