//  This are the colors used in the figma design file

$blue: #213f7d;
$slateblue: #545f7d;
$turquoise: #39cdcc;
$white: #fff;
$input-boder: #545F7D26; // #545F7D 15% opacity in hex for input border color;
$gray-white:#fefefe;
$form-error: #ff0000;

