// This are my font definitions for Avenir next
// The font weights are 400,600 and 700 as specified in the figma design


@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/avenir-next/AvenirNextLTPro-It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 600; 
}


@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: 600; 
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: 700; 
}

// $workSans: 'Work Sans', sans-serif;
$avenirNext: 'Avenir Next', sans-serif;


